<h1>Successful Charges</h1>
<table>
  <thead>
    <tr>
      <th>Customers name</th>
      <th>Amount</th>
      <th>Date</th>
    </tr>
  </thead>

  <tbody>
    <% @successful_transaction.each do |charge| %>
      <tr>
        <td><%= charge['first_name'] + " " + charge["last_name"] %></td>
        <td><%= charge['amount'].to_s + " " + charge['currency'] %> </td>
        <td><%= charge['created_at'].strftime("%d %b %y") %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
